# Runs the unit tests for the svg.path package
# Based on https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test package

on: [pull_request, push]

jobs:
  build:
    name: Run package tests

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.13']

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install tools
        run: pip install flake8 black mypy
      - name: Install package
        run: pip install -e ".[test]"
      - name: Run black
        run: black --quiet --check .
      - name: Run flake8
        run: flake8 .
      - name: Run mypy
        run: mypy
      - name: Run tests
        run: pytest
